<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<title>Gamezz: Game System Repository!</title>
<link rel="stylesheet" href="/resources/style.css" type="text/css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="/resources/myIcon.ico" />
</head>

<body>
	<div id="container">

		<!-- Partials -->
		<!-- Header -->
		<% include partials/header.ejs %>

		<!-- Main Menu -->
		<% include partials/user-navigation.ejs %>

		<!-- Left Menu -->
		<% include partials/site-navigation.ejs %>

		<!--content-->
		<main>

		<section>
			<article id='articlePad'>

				<div class="div_about">
					<img src="/resources/signin.png" alt="signin" />
				</div>

				<br />
				Please <a href="/signIn">Login</a> first. (You cannot access this section without logging in).
			</article>
		</section>
		<!--content1 ends--> </main>

		<div id="clearDiv"></div>

		<!-- Footer -->
		<% include partials/footer.ejs %>

	</div>
</body>
</html>
